body {
  margin: 0;
  padding: 0;
  background: #202020;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  height: 150px;
  width: 150px;
}

canvas:hover {
  cursor: pointer;
  border-radius: 100%;
}