body {
  color: rgb(143, 0, 0);
  background: #333;
  font-family: 'helvetica neue', 'arial', sans-serif;
  text-align: center;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.container {
  border-radius: 10px;
  background: #fff;
  padding: 44px;
  width: 600px;
  margin: 44px auto;
  box-shadow: 0 5px 45px rgba(0,0,0,0.4);
}

select {
  background: #fff;
  padding: 3em;
  font-size: 1.5em;
}

button {
  /* background: rgb(0, 120, 0); */
  background: #fff;
  /* color: #fff; */
  color: #333;
  border-radius: 1px;
  padding: 1em;
  font-size: 1em;
  border: 3px solid rgb(0, 120, 0);
  width: 10em;
  margin: 12px;
  border-radius: 10px;
  box-shadow: 0 3px 0 rgba(0,0,0,.4);
  transition: .3s;
}

button:hover {
  /* background: rgb(0, 151, 0); */
  background: rgb(0, 120, 0);
  color: #fff;
  cursor: pointer;
  box-shadow: 0 6px 0 rgba(0,0,0,.4);
}

button.reset {
  /* background: rgb(143, 0, 0); */
  background: #fff;
  border: 3px solid rgb(143, 0, 0);
  /* color: #fff; */
  color: #333;
}

button.reset:hover {
  /* background: rgb(204, 0, 0); */
  background: rgb(143, 0, 0);
  color: #fff;
}

.period-select {
  margin: 22px;
}

h1 {
  /* color: #333; */
  display: inline-block;
  font-size: 6em;
  margin: 0 auto;
  padding: 22px;
  height: 1.5em;
  width: 100%;
}

.progress-container {
  display: flex;
  border-radius: 10px;
  background: #333;
  width: 500px;
  height: 10px;
}

.progress-bar {
  border-radius: 10px;
  transition: 0.3s;
  width: 0;
  background: rgb(143, 0, 0);
}