body {
  background: #333;
  font-family: sans-serif;
}
.container {
  width: 750px;
  margin: 20px auto;
}

.box {
  opacity: .6;
  background: #fff;
  margin-top: 70px;
  margin-right: -20px;
  padding: 2em;
  line-height: 1.5;
  width: 200px;
  height: 200px;
  position: relative;
  display: inline-block;
  box-shadow: 10px -10px 0 #000;
  
  animation-name: myanimation-rev;
  animation-duration: .3s;
  animation-fill-mode: forwards;
  animation-direction: backwards;
}

.box:hover {
  animation-name: myanimation;
  animation-duration: .3s;
  /* can also be 'infinite' */
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  /* animation-delay: 2s; */
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  opacity: 1;
  transition: opacity .3s;
  z-index: 100 !important;
}

.box--1 { z-index: 100 }
.box--2 { z-index: 99 }
.box--3 { z-index: 98 }
.box--4 { z-index: 97 }
.box--5 { z-index: 96 }

@keyframes myanimation {
  0% { transform: skewY(14deg) translate3d(0,0,0); box-shadow: 10px -10px 0 #000; }
  100% { transform: skewY(0) translate3d(20px, 20px, 20px); box-shadow: 22px -22px 0 #000; }
}

@keyframes myanimation-rev {
  0% { transform: skewY(0) translate3d(20px, 20px, 20px); box-shadow: 22px -22px 0 #000; }
  100% { transform: skewY(14deg) translate3d(0,0,0); box-shadow: 10px -10px 0 #000; }
}