@font-face {
  font-family: 'Charmonman';
  src: url('./Charmonman-Regular.ttf'),
       url('./Charmonman-Bold.ttf');
  font-weight: 400, 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: 'Charmonman';
  font-size: 3rem;
  font-weight: 600;
  background: url('./icon.png');
}