body {
  font-size: 24px;
  font-family: sans-serif;
  min-height: 30vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.cycler {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  width: 50%;
}

.prev-arrow,
.next-arrow {
  padding: 2em;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.prev-arrow:hover,
.next-arrow:hover {
  cursor: pointer;
}

.display {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-content: center;

  width: 100%;
  list-style: none;
}

.hidden {
  display: none;
}

ul, li {
  padding: 0;
  margin: 0;
}

li {
  transition: .3s;
}

.fade-left {
  margin-left: -80%;
  opacity: 0;
}

.fade-right {
  margin-left: 80%;
  opacity: 0;
}