/* ooh the possibilities with css variables... */
:root {
  --animationTime: 0s;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loader__squares {
  height: 100px;
  width: 100px;
}

.loader__squares--one {
  position: absolute;
  top: 0;
  left: 0;
  background: #4760E7;
  height: 50px;
  width: 50px;
  transform-origin: center right;
  animation: square--one var(--animationTime) infinite;
}

.loader__squares--two {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #4760E7;
  height: 50px;
  width: 50px;
  transform-origin: center left;
  animation: square--two var(--animationTime) infinite;
}

@keyframes square--one {
  0% {
    background-color: #4760E7;
    transform: rotateY(0deg) 
  }
  25% {
    background-color: #243BB9;
  }
  50% {
    background-color: #4760E7;
    transform: rotateY(180deg) 
  }
  100% { 
    background-color: #4760E7;
    transform: rotateY(180deg) translateY(100%)
  }
}

@keyframes square--two {
  0% { 
    background-color: #4760E7;
    transform: rotateY(0deg) 
  }
  25% {
    background-color: #243BB9;
  }
  50% { 
    background-color: #4760E7;
    transform: rotateY(180deg) 
  }
  100% { 
    background-color: #4760E7;
    transform: rotateY(180deg) translateY(-100%)
  }
}