/* Variables */
:root {
  --animTime: 1s;
  --diameter: 100px;
  --travelRight: 25px;
  --travelLeft: -25px;
  --borderThickness: 2px;
  --colorOne: #657EC5;
  --colorTwo: #65AAC5;
}

body {
  background: #eee;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -1000%);
  border: 5px solid transparent;
}

.circle {
  position: absolute;
  border-radius: 100%;
  width: var(--diameter);
  height: var(--diameter);
  animation-duration: var(--animTime);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.circle__one {
  border: var(--borderThickness) solid var(--colorOne);
  animation-name: wind;
  animation-direction: normal;
}

.circle__two {
  border: var(--borderThickness) solid var(--colorTwo);
  animation-name: wind;
  animation-delay: calc(var(--animTime) / 2);
}

@keyframes wind {
  0% {
    opacity: 0.6;
    transform: translate(var(--travelLeft), 0) scale(0.8);
  }
  25% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
  50% {
    opacity: 0.6;
    transform: translate(var(--travelRight), 0) scale(0.8);
  }
  75% {
    opacity: 0.4;
    transform: translate(0, 0) scale(0.6);
  }
  100% {
    opacity: 0.6;
    transform: translate(var(--travelLeft), 0) scale(0.8);
  }
}