.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}


*, *:after, *:before {
  box-sizing: border-box;
}
body {
  margin: 0em;
  padding: 0;
  font-family: sans-serif;
  background: #ddd;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  background: #fff;
  transition: .3s;
  padding: 2em 3em;
  box-shadow: 0 4px 10px rgba(0,0,0,.1);
}

h1, h2 {
  margin-bottom: 3.5rem;
}

ul {
  margin: 1em;
  margin-bottom: 2em;
  list-style: none;
}

ul li {
  border: 1px solid #ccc;
  margin-bottom: .5em;
  padding: .5em;
  padding-left: 2em;
  position: relative;
}

ul li:before {
  content: '✣';
  position: absolute;
  left: .5em;
}